.layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0 60px 0 60px;
}
.content {
  width: 50%;
  height: 100%;
  border-left: solid 1px #535353;
  border-right: solid 1px #535353;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.tag {
  color: #535353;
}
